
    <section class="container">
        <div class="main-title">
            <h2>{{'My' | translate}} <span>{{'Certifications' |translate}}</span><span class="bg-text">{{'My' | translate}} {{'Certifications' |translate}}</span></h2>
        </div>
        <div class="portfolios">
            <div class="portfolio-item">
                <div class="image">
                    <img src="../../../assets/img/certifications/pentester.png" alt="">
                </div>
                <div class="hover-items">
                    <h3>{{'Auditor'|translate}}</h3>
                    <div class="icons">
                        <a href="https://drive.google.com/uc?export=download&id=13v1ZIqM2eTe5WYiL2ndDdYXANF5nslXV"  class="icon">
                            <i class="fa-solid fa-file"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="image">
                    <img src="../../../assets/img/certifications/scrum.png" alt="">
                </div>
                <div class="hover-items">
                    <h3>SCRUM MASTER PROFESSIONAL CERTIFICATE</h3>
                    <div class="icons">
                        <a href="https://drive.google.com/uc?export=download&id=1aZC2KKJ3uYLqQ3ZYPuxQZfhE3hWZEsou" class="icon">
                            <i class="fa-solid fa-file"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="image">
                    <img src="../../../assets/img/certifications/cybersecurity.png" alt="">
                </div>
                <div class="hover-items">
                    <h3>LEAD CYBERSECURITY PROFESSIONAL CERTIFICATE</h3>
                    <div class="icons">
                        <a href="https://drive.google.com/uc?export=download&id=1R_q_TS-EJELPdjC26yCG5SaRVvcJwbCb" class="icon">
                            <i class="fa-solid fa-file"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="image">
                    <img src="../../../assets/img/certifications/foundation.png" alt="">
                </div>
                <div class="hover-items">
                    <h3>SCRUM FOUNDATION PROFESSIONAL CERTIFICATE</h3>
                    <div class="icons">
                        <a href="https://drive.google.com/uc?export=download&id=1-O5mH1BZeR4CskPuKKNHRz7uFMt2QgNF" class="icon">
                            <i class="fa-solid fa-file"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="image">
                    <img src="../../../assets/img/certifications/xtreme.png" alt="">
                </div>
                <div class="hover-items">
                    <h3>IEEEXTREME 13.0 PROGRAMMING
                    </h3>
                    <div class="icons">
                        <a href="https://drive.google.com/uc?export=download&id=1amojEvMB73l4Gh1dNd0wuJn8eNjHBSOh" class="icon">
                            <i class="fa-solid fa-file"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="image">
                    <img src="../../../assets/img/certifications/google.png" alt="">
                </div>
                <div class="hover-items">
                    <h3>{{'CloudComputing' | translate}}
                    </h3>
                    <div class="icons">
                        <a href="https://drive.google.com/uc?export=download&id=1nBPizsVkWTqJ-PdeVDWEP33fKkeSmUv1" class="icon">
                            <i class="fa-solid fa-file"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="image">
                    <img src="../../../assets/img/certifications/other.png" alt="">
                </div>
                <div class="hover-items">
                    <h3 style="text-transform: uppercase;">{{'Other' |translate}} {{'Certifications'|translate}}
                    </h3>
                    <div class="icons">
                        <a href="https://drive.google.com/uc?export=download&id=1X7ZaMU2XGrsy5OkRd3xo3FZFVLuKLZ2l" class="icon">
                            <i class="fa-solid fa-file"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>