<section class="container about" id="about">
    <div class="main-title">
        <h2>{{'About' | translate}} <span>{{'Me' | translate}}</span><span class="bg-text">{{'Stats'|translate}}</span></h2>
    </div>
    <div class="about-container">
        <div class="left-about">
            <h4>{{'TitleAbout' | translate}}</h4>
            <p style="text-align: justify;">
                {{'DescriptionAbout' |translate}} <br /> <br /> {{'Description2About'|translate}}
            </p>
            <div class="btn-con">
                <a href="{{downloadCV()}}" class="main-btn">
                    <span class="btn-text">{{'DownloadCV' | translate}}</span>
                    <span class="btn-icon"><i class="fas fa-download"></i></span>
                </a>
            </div>
        </div>
        <div class="right-about">
            <div class="about-item">
                <div class="abt-text">
                    <p class="large-text">10+</p>
                    <p class="small-text">{{'Projects'|translate}} <br /> {{'Participated' | translate}}</p>
                </div>
            </div>
            <div class="about-item">
                <div class="abt-text">
                    <p class="large-text">1+</p>
                    <p class="small-text">{{'Years' |translate}} {{'Of' |translate}} <br /> {{'Experience' |translate}}</p>
                </div>
            </div>
            <div class="about-item">
                <div class="abt-text">
                    <p class="large-text">11+</p>
                    <p class="small-text">{{'Technologies' | translate}} <br /> {{'Learned' | translate}}</p>
                </div>
            </div>
            <div class="about-item">
                <div class="abt-text">
                    <p class="large-text">11+</p>
                    <p class="small-text">{{'ProgrammingLanguages' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-stats">
        <h4 class="stat-title">{{'My' | translate}} {{'Skills' | translate}}</h4>
        <div class="progress-bars">
            <div class="progress-bar">
                <img src="../../../assets/img/skills/html5.png" class="logoskill">
                <p class="prog-title">html5</p>
                <div class="progress-con">
                    <p class="prog-text">80%</p>
                    <div class="progress">
                        <span class="html"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/skills/css.png" class="logoskill">
                <p class="prog-title">css3</p>
                <div class="progress-con">
                    <p class="prog-text">95%</p>
                    <div class="progress">
                        <span class="css"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/skills/javascript.png" class="logoskill">
                <p class="prog-title">javascript</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="js"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/skills/typescript.png" class="logoskill">
                <p class="prog-title">TypeScript</p>
                <div class="progress-con">
                    <p class="prog-text">87%</p>
                    <div class="progress">
                        <span class="node"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/skills/python.png" class="logoskill">
                <p class="prog-title">Python</p>
                <div class="progress-con">
                    <p class="prog-text">70%</p>
                    <div class="progress">
                        <span class="python"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/skills/java.png" class="logoskill">
                <p class="prog-title">Java</p>
                <div class="progress-con">
                    <p class="prog-text">70%</p>
                    <div class="progress">
                        <span class="python"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/skills/csharp.png" class="logoskill" >
                <div class="progress-con">
                    <p class="prog-text">70%</p>
                    <div class="progress">
                        <span class="python"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/skills/php.png" class="logoskill">
                <div class="progress-con">
                    <p class="prog-text">70%</p>
                    <div class="progress">
                        <span class="python"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/skills/dart.png" class="logoskill">
                <p class="prog-title">Dart</p>
                <div class="progress-con">
                    <p class="prog-text">70%</p>
                    <div class="progress">
                        <span class="python"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/skills/c.png" class="logoskill">
                <div class="progress-con">
                    <p class="prog-text">70%</p>
                    <div class="progress">
                        <span class="python"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/skills/cmas.png" class="logoskill">
                <div class="progress-con">
                    <p class="prog-text">70%</p>
                    <div class="progress">
                        <span class="python"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/skills/kotlin.png" class="logoskill">
                <p class="prog-title">Kotlin</p>
                <div class="progress-con">
                    <p class="prog-text">70%</p>
                    <div class="progress">
                        <span class="python"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/skills/sql.png" class="logoskill">
                <p class="prog-title">SQL</p>
                <div class="progress-con">
                    <p class="prog-text">70%</p>
                    <div class="progress">
                        <span class="python"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-stats">
        <h4 class="stat-title">{{"My" | translate}} {{'Technologies' | translate}}</h4>
        <div class="progress-bars">
            <div class="progress-bar">
                <img src="../../../assets/img/frameworks/node.png" class="logoskill">
                <p class="prog-title">Node.js</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="react"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/frameworks/spring.png" class="logoskill">
                <p class="prog-title">Spring Boot</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="react"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/frameworks/asp.png" class="logoskill">
                <p class="prog-title">ASP.NET</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="react"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/frameworks/slim.png" class="logoskill">
                <p class="prog-title">Slim Framework</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="react"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/frameworks/flask.png" class="logoskill">
                <p class="prog-title">Flask</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="react"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/frameworks/angular.png" class="logoskill">
                <p class="prog-title">Angular</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="react"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/frameworks/flutter.png" class="logoskill">
                <p class="prog-title">Flutter</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="react"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/frameworks/firebase.png" class="logoskill">
                <p class="prog-title">Firebase Cloud</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="react"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/frameworks/mongodb.png" class="logoskill">
                <p class="prog-title">MongoDB</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="react"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/frameworks/sqlserver.png" class="logoskill">
                <p class="prog-title">SQL Server</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="react"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/frameworks/mysql.png" class="logoskill">
                <p class="prog-title">MySQL</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="react"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-stats">
        <h4 class="stat-title">{{'Tools' | translate}}</h4>
        <div class="progress-bars">
            <div class="progress-bar">
                <img src="../../../assets/img/technologies/visualstudio.png" class="logoskill">
                <p class="prog-title">Visual Studio</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="react"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/technologies/code.png" class="logoskill">
                <p class="prog-title">Visual Studio Code</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="react"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/technologies/androidstudio.png" class="logoskill">
                <p class="prog-title">Android Studio</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="react"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/technologies/anaconda.png" class="logoskill">
                <p class="prog-title">Anaconda</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="react"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/technologies/eclipse.png" class="logoskill">
                <p class="prog-title">Eclipse IDE</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="react"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/technologies/netbeans.png" class="logoskill">
                <p class="prog-title">NetBeans IDE</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="react"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <img src="../../../assets/img/technologies/github.png" class="logoskill">
                <p class="prog-title">GitHub</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="react"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="stat-title">{{'Timeline'|translate}}</h4>
    <div class="timeline">
        <div class="timeline-item">
            <div class="tl-icon">
                <i class="fas fa-briefcase"></i>
            </div>
            <p class="tl-duration">2010 - present</p>
            <h5>Web Developer<span> - Vircrosoft</span></h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quasi vero fugit.
            </p>
        </div>
        <div class="timeline-item">
            <div class="tl-icon">
                <i class="fas fa-briefcase"></i>
            </div>
            <p class="tl-duration">2008 - 2011</p>
            <h5>Software Engineer<span> - Boogle, Inc.</span></h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quasi vero fugit.
            </p>
        </div>
        <div class="timeline-item">
            <div class="tl-icon">
                <i class="fas fa-briefcase"></i>
            </div>
            <p class="tl-duration">2016 - 2017</p>
            <h5>C++ Programmer<span> - Slime Tech</span></h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quasi vero fugit.
            </p>
        </div>
        <div class="timeline-item">
            <div class="tl-icon">
                <i class="fas fa-briefcase"></i>
            </div>
            <p class="tl-duration">2009 - 2013</p>
            <h5>Business Degree<span> - Sussex University</span></h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quasi vero fugit.
            </p>
        </div>
        <div class="timeline-item">
            <div class="tl-icon">
                <i class="fas fa-briefcase"></i>
            </div>
            <p class="tl-duration">2013 - 2016</p>
            <h5>Computer Science Degree<span> - Brookes University</span></h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quasi vero fugit.
            </p>
        </div>
        <div class="timeline-item">
            <div class="tl-icon">
                <i class="fas fa-briefcase"></i>
            </div>
            <p class="tl-duration">2017 - present</p>
            <h5>3d Animation<span> - Brighton University</span></h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quasi vero fugit.
            </p>
        </div>
    </div>
</section>
