#country-select {
    
    position: relative;
    top: 10.5rem;
    left: 50%;
    transform: translate(0, -50%)
}
.select-lang {
    width: 80px;
    height: 32px;
    line-height: 22px;
    position: relative;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
}

.select-lang > ::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}
.select-lang .options {
    background: transparent !important;
}
.select-lang::after {
    content: "▼";
    font-size: 0.7em;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    color: white;
}

.select-lang:hover::after {
    top: 15%;
    transform: translate(0, -15%);
}

.select-lang:hover {
    overflow:visible;
}
.select-lang:hover .options .option {
    padding: 0 0 5px 0;
}
.select-lang:hover .options .option:last-child {
    padding: 0 0 0 0;
}

.select-lang:hover .options .option label {
    display:inline-block;
    cursor: pointer
}

.select-lang .options .option img {
    width: 3.25rem;
}

.select-lang .options .option label {
    display:none;
}

.select-lang .options .option input {
    width:0;
    height:0;
    overflow:hidden;
    margin:0;
    padding:0;
    float:left;
    display:inline-block;
    position: absolute;
    visibility: hidden;
}

.select-lang .options .option input:checked + label {
    display:block;
    width:100%;
}

.select-lang:hover .options .option input + label {
    display:block;
}